src/ddsp/test/*
data/*
audio/*
models/*
old_models/*
*.cache
env/
build/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.pyc
._cache
.pytest_cache
venv
.idea
__pycache__
.history
.env
.env.*
.idea/
.vscode/
build
*.tgz
/.changelog
**/.ipynb_checkpoints
**/.ipynb_checkpoints/*
runs/*
!.env.template
